<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
        <link th:href="@{/css/demo.css}" rel="styleSheet">
    </head>
    <body>
        <div class="absolute_parent"></div>
            <img th:src="@{images/hello_banana.png}" class="topimage">
            <form th:action="@{/logout}" method="post" class="box">
	            <p th:text="|Hello ${userName} !!!|"></p>
                
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
    </body>
</html>