<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link th:href="@{/css/demo.css}" rel="styleSheet">
    </head>
    <body  class="text-center" >
          <main role="main" class="inner cover">
            <img class="mb-4" th:src="@{images/hello_banana.png}">
            <form th:action="@{/logout}" method="post" class="box">
	            <h1 th:text="|Hello ${userName} !!!|"></h1>
                <button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign Out">Sign Out</button>
            </form>
          </main>
        </div>
    </body>
</html>