<head>
    <meta charset="UTF-8">
    <title>Javaサンプルアプリ@banana</title>
    <link th:href="@{/css/demo.css}" rel="styleSheet">
</head>
<body>
    <div class="absolute_parent"></div>
        <img th:src="@{images/banana.png}" class="topimage">
        <form th:action="@{/sign_in}" method="post" class="box">
        <h1>Login</h1>
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>